.container{
	width: 100vw;
	height: 100vh;
}

.contain{
	float: left;
}

.triangleV{
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  
  border-left: 100px solid green;
  margin-top: -100%;
}

.triangleB{
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  
  border-right: 100px solid blue;
  margin-top: -100%;
}

.triangleR{
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  
  border-left: 100px solid red;
  margin-top: -100%;
}

.triangleJ{
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  
  border-right: 100px solid yellow;
  margin-top: -100%;
}

/*------------------------------------------*/

.triangleV_reverse{
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  
  border-left: 100px solid green;
  margin-top: -100%;
}

.triangleB_reverse{
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  
  border-right: 100px solid blue;
  margin-top: -100%;
}

.triangleR_reverse{
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  
  border-left: 100px solid red;
  margin-top: -100%;
}

.triangleJ_reverse{
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  
  border-right: 100px solid yellow;
  margin-top: -100%;
}