.carre{
    width: 100%;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-repeat: space;
}

th {
    border: 10px solid #FFF;
    width: 15%;
    height: 80px;
    padding: 5px;
    content: "";
}

.red{
    background-color: red;
}

.blue{
    background-color: yellow;
}

.yellow{
    background-color: blue;
}
