.picnic { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh; 
} 
  
.picnic::before { 
    content: ""; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: repeating-linear-gradient( 
            0deg, #fff 0, #fff 40px,  
            #FA8072 40px, #FA8072 80px); 
} 

.picnic::after { 
    content: ""; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: repeating-linear-gradient( 
        90deg, #fff 0, #fff 40px, #FA8072
         40px, #FA8072 80px); 
    mix-blend-mode: multiply; 
} 