.carre{
    width: 100%;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 20%;
    background-repeat: space;
    float: left;
}

td {
    border: 10px solid #FFF;
    width: 5%;
    height: 30px;
    padding: 5px;
    content: "";
}

.one{
    background-color: #CCCCCC;
}

.two{
    background-color: #999999;
}

.three{
    background-color: #666666;
}

.four{
    background-color: #333333;
}
